/* Подключение шрифтов */
@font-face {
    font-family: 'Helvetica';
    src: url(./assets/fonts/Helvetica/helvetica_regular.otf);
}

@font-face {
    font-family: 'Helvetica-bold';
    src: url(./assets/fonts/Helvetica/helvetica_bold.otf);
}

/* Общие стили */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif, Arial;
}

a {
    text-decoration: none;
}

button {
    border: 0;
}

.btn {
    font-family: Helvetica, sans-serif, Arial;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wrapper {
    width: 1920px;
    margin: 0 auto;
    background-color: #212121;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Стили шапки сайта*/

.header {
    background-color: #212121;
    padding: 46px 0;
}

.header .container {
    display: flex;
    align-items: center
}

.navigation {
    display: flex;
    gap: 65px;
    margin-left: 177px;
    margin-right: 465px;
}

.nav-link {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Helvetica-bold', sans-serif, Arial;
    text-transform: uppercase;
}

.phone {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Helvetica-bold', sans-serif, Arial;
}

/* Стили банера */
.hero {
    background-color: #212121;
    padding: 100px 0 175px 0;
}

.hero .container {
    display: flex;
    align-items: center
}

.hero__first {
    flex-direction: column;
    width: 755px;
}

.hero__title {
    color: #ffffff;
    font-size: 80px;
    font-family: 'Helvetica', sans-serif, Arial;
    width: 766px;
    font-weight: 400;
}

.hero__subtitle {
    color: #D4D4D4;
    font-size: 24px;
    font-family: 'Helvetica', sans-serif, Arial;
    padding: 40px 0 60px 0;
    width: 488px;
}

.btn--yellow  {
    color: #000000;
    font-size: 24px;
    background-color: #F8FF23;
    padding: 20px 35px;
}

.btn--yellow:hover {
    background-color: #c5cb2c;
}

.hero__background {
    background-image: url("./assets/images/main-car.png");
    position: absolute;
    margin-left: 645px;
    width: 909px;
    height: 572px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

/* Стили каталога */

.cars {
    background-color: #0C0C0C;
    padding: 130px 0;
}

.cars .container {
    align-items: center;
}

.cars__name {
    color: #ffffff;
    font-size: 60px;
    font-family: 'Helvetica', sans-serif, Arial;
}

.cars__catalog {
    display: flex;
    gap: 77px;
    padding-top: 60px;
}

.cars__link {
    display: flex;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif, Arial;
    flex-direction: column;
    gap: 15px;
}

.btn--transparent {
    color: #FFFFFF;
    border: 1px #FFFFFF solid;
    padding: 16px 24px;
    text-align: center;
    background-color: transparent;
}

.btn--transparent:hover {
    color: #F8FF23;
    border-color: #F8FF23;
}

.btn--transparent.active {
    color: #F8FF23;
    border-color: #F8FF23;
}

.cars__cards {
    flex-direction: column;
}

.cars__menu {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #212121;
    width: 996px;
    box-sizing: border-box;
    height: 404px;
}

.cars__card {
    flex-direction: column;
    margin-left: 24px;
    display: flex;
    align-items: flex-start;
    height: 100%;
    justify-content: space-between;
}

.cars__info {
  
}

.cars__story {

}

.cars__img {
    width: 567px;
    height: 364px;
    background-size: cover;
}

.cars__title {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Helvetica-bold', sans-serif, Arial;
    width: 364px;
}

.cars__subtitle {
    color: #D4D4D4;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif, Arial;
    margin-top: 20px;
    width: 364px;
}

.cars__description {
    display: flex;
    align-items: center;
    /* margin-top: 65px; */
    gap: 37px;
    align-items: flex-end;
}

.cars__item {
    flex-direction: column;
    list-style-type: none;
}

.cars__time {
    color: #D4D4D4;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif, Arial;
    margin-bottom: 5px;
}

.cars__text {
    color: #D4D4D4;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif, Arial;
}

.cars__price {
    color: #ffffff;
    font-size: 24px;
}

.btn--white {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 24px;
    padding: 20px 96px;
    margin-top: 20px;
}

.btn--white:hover {
    background-color: #efeded;
}

/* Стили формы */

.order {
    background-color: #212121;
    flex: 1;
    position: relative;
    overflow: hidden;
    min-height: 800px;
    align-items: center;
    width: 100%;
    padding-top: 159px;
    padding-bottom: 130px;
}

.order .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 800px;
    position: relative;
    padding: 0 15px;
}

.order__background {
    background-image: url("./assets/images/order-car.png");
    position: absolute;
    left: -360px;
    top: 0;
    width: 1218px;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.order__form {
    position: relative;
    z-index: 2;
    width: 486px;
    margin-right: 0;
    flex-shrink: 0;
}

.order__title {
    color: #FFFFFF;
    font-size: 65px;
    font-family: 'Helvetica', sans-serif, Arial;
}

.order__subtitle {
    color: #D4D4D4;
    font-size: 24px;
    font-family: 'Helvetica', sans-serif, Arial;
    margin-top: 40px;
}

.order__input {
    color: #D4D4D4;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif, Arial;
    padding: 24px 20px;
    border: 1px #FFFFFF solid;
    border-radius: 0;
    background: #212121;
    text-align: left;
    outline: 0;
}

.order__input::placeholder {
    color: #D4D4D4;
    font-size: 16px;
}

#car-input {
    cursor: not-allowed;
}

.order__list {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 15px;
    width: 344px;
}

/* Стили подвала */
.footer {
    background-color: #212121;
    padding: 47px 0;
    border-top: 1px #5F5F5F solid;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Helvetica-bold', sans-serif, Arial;
    font-size: 14px;
}